body {
    margin: 0;
    padding: 0;
}
#canvas3d,#hud{
    position: fixed;
    height: 100%;
}

.pricel {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: url(../pricel.png) no-repeat;
    background-size: cover;
}
.pricel .centerovina{
    position: absolute;
    margin: 28px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: red;
    opacity: 0.4
}
#health_int{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: yellow;
    text-shadow: 0 0 2px black;
    font-size: 20px;
}
#chat{
    position: absolute;
    bottom: 40px;
    left: 10px;
    color:white;
    text-shadow: 0 0 2px black;
    width: 300px;

}
#chat input[type=text]{
    width: 230px;
    border: none;
    border-bottom: solid 1px grey;
    background: transparent;
    color:yellow;
    text-shadow: 0 0 2px black;
}
#chat_text{
    max-height: 400px;
    overflow-y: auto;
}
#chat_text p{
    margin-top: 3px;
    margin-bottom: 3px;
}
#chat_text p.system{
    color:red;
}
#overlay{
    position: absolute;
    background: rgba(0,0,0,0.5);
    color:white;
    width: 100%;
}

.config-content{
  height: 100%;
  overflow: auto;
}
.config-content input,.config-content select{
  color: black;
}
#overlay .menu{
  height: 2%;
}
